html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {

	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 80%;
	margin: 0% 5% 5% 5%;
	padding: 0.5%;
	background-color: #f5f5f5;
	display: flex;
	flex-flow: row nowrap;
	border: 0rem dotted blue;
}
section {
	flex-basis: 60%;
	margin-right: 5%;
}
aside {
	flex-basis: 40%;
}

fieldset{
	margin-bottom: 2rem;
}
fieldset {
	border: 1px solid black;
	border-radius: 10px;
}
legend {
	font-weight: bold;
	font-size: 1 rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display: block;
}
label {
	display: block;
	margin-bottom: 0.3rem;
}

textarea {
	display: block;
	margin-bottom: 2rem;
	width: 20rem;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	border-radius: 10px;
	padding: 0 1rem;
}
textarea {
	height: 6rem;
	padding: 1rem;
}
select {
	font-size: 1rem;
}
button {
	margin: 2rem 0;
	background-color: #da511b;
	color: black;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;

}
button:hover {
	background-color: #f5f5f5;

}
input:not([type="radio"]):not([type="checkbox"]),textarea {
	display: block;
	margin-bottom: 1rem;
	width: 20rem;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border:none;
}










